:root{
    --clr-dark: rgb(13,17,19);
    --clr-light: #fff;
    --clr-accent:rgb(222,52,0);
    --clr-accent-dark: rgb(163,38,0);
    --clr-secondary:rgb(26, 99, 218);
}

body{
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: var(--clr-dark);
    color: var(--clr-light);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.game{
    position: relative;
}
h1,h2,h3,p{
    margin: 0;
    padding: 0;
}

.front{
    transition: 250ms;
}
.front > .name{
    margin: 4px 0;
}
.front > img{
    height: 12rem;
    width: auto;
    border-radius: 5px;
}
.front > .stats {
    display: flex;
    justify-content: space-between;
}
.front > .stats > p {
   font-size: 13px;
}

.front > .stats >.streamers  {
    display: flex !important;

}
.front > .stats >.streamers > img {
    height: 1rem;
    width: auto;
    border-radius: 50%;
}
.front > .stats >.streamers > .two {
    transform: translateX(30%);
 }
.front > .stats >.streamers > .one {
   transform: translateX(60%);
   z-index: 999;
}

.icon{
    margin: 0;
    padding: 0;
}
.bookmark{
    position: absolute;
    z-index: 10000;
    top: 0;
    right: 1em;
    color: white;
    font-weight: bold;
    background-color:rgba(0, 0, 0, 0.692);
    padding: 5px;
    clip-path: polygon(100% 0, 100% 100%, 49% 80%, 0 100%, 0 0);
    transition: transform 350ms cubic-bezier(0.22, 0.89, 0.74, 1.06);
}

.game:hover .bookmark{
    transform: translate(170%, -83.3%);
    transition: transform 200ms cubic-bezier(0.22, 0.89, 0.74, 1.06);
}

.background{
    height: 1rem;
    width: 1rem;
    background-color: #234;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    transform: scale(0.2,0.9);
    
}
.game:hover .front{
    transform: translateY(-35%) scale(0.8);  
    transition: 250ms ease-in-out; 
}

.game:hover .front > .name{
    opacity: 0;
    transition: 100ms ease-in;
}
.game:hover .stats{
   visibility: hidden;
   transition: 50ms ease-in;

}
.game:hover .background{
    opacity: 1;
    height: 16rem;
    width: 9rem;
    border-radius: 5px;
    transform: scale(1.4,1.2);
    transition: 
        transform 250ms cubic-bezier(0.22, 0.89, 0.74, 1.06), 
        opacity 100ms linear;
}

.back{
    height: 12rem;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7em;
    opacity: 0;
}

.game:hover .back{
    opacity: 1;
    transition: opacity 450ms ease-in;
}

.game:hover .back > h3 {
    text-align: center;
    font-size: 14px;
}
.streamin-info > p {
    padding: 0 10px 0 10px;
    font-size: 12px;
    font-weight: bold;
}
.streamin-info > p > span{
    display: block;
    font-size: 10px;
    font-weight: normal;
}
.game:hover .back > .streamin-info {
   columns: 2;
   column-rule: 1px solid rgba(160, 152, 152, 0.562);
   column-gap: 1rem;
   text-align: center;
}
.back > .streamers{
    display: flex;
    justify-content: space-around;
    font-size: 10px;
    width: 100%;
}
.back > .btn{
    padding: 0 10px 0 10px;
    height: 1.7rem;
    margin: 0 !important;
    border: 0;
    border-radius: 100vw;
    background-color: var(--clr-secondary);
    color: var(--clr-light);
    font-weight: bold;

}
.back > .streamers > .streamer{
    text-align: center;
}

.back >.streamers >.streamer> img {
    height: 1.5rem;
    width: auto;
    border-radius: 50%;
}

.back >.streamers >.streamer > .name {
    font-weight: bold;
}

.back > .streamers{
    opacity: 0;
    transform: translateY(10%) !important;
}
.game:hover .back > .streamers{
    opacity: 1;
    transform: translateY(0%) !important;
    transition: transform 250ms ease-in,
                opacity 450ms ease-in;
}




